<!DOCTYPE html>
<html lang='en'>
<head>
    <link rel="icon" href="images/fimbre/fimbre_logo.png">
    <script type="text/javascript" src="js/lib/jquery1.11.0.js"></script>
    <script type="text/javascript" src="js/lib/angularv1.3.0-beta.7.js"></script>


    <script src="js/q.js"></script>
    <script type="text/javascript" src="js/Util.js"></script>

    <script type="text/javascript" src="js/ApplaneDB.js"></script>
    <script type="text/javascript" src="js/FimbreResetPasswordCtrl.js"></script>
    <link href="css/FimbreResetPassword.css" rel="stylesheet"/>
    <link href="/css/bootstrap.css" media="all" rel="stylesheet" type="text/css"/>


    <meta charset='utf-8'/>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'/>
    <title>Fimbre</title>
</head>
<body class="login login-sales" ng-app="app" ng-controller="FimbreResetPasswordCtrl">
<h1></h1>


<div class='container' ng-hide='loginLink'>

    <h3 class='login-to-account'>Set new password</h3>

    <div class="login-image" ng-show='processingImage'>
        <span class="error-message" ng-bind='dbBlank'></span>
        <img src='images/loading.gif' ng-show='processingImage'/>
    </div>

    <form accept-charset="UTF-8" action="/login" class="clear-both form-horizontal" id="user_new" method="post">
        <fieldset class='custom-align-left'>

            <div class='control-group margin-bottom-eighteen'>
                <label class="control-label" for="user_password">Password</label>

                <div class='controls'>
                    <input ng-model="password" ng-focus='errorMessage = false'
                           autocomplete="off"
                           class="input-large input-content" id="user_password" name="user[password]" size="30"
                           type="password" value="" autofocus/>
                </div>
            </div>


            <div class='control-group margin-bottom-eighteen'>
                <label class="control-label" for="user_password">Password confirmation</label>

                <div class='controls'>
                    <input ng-model="confirmPassword" ng-focus='errorMessage = false'
                           ng-keyup="$event.keyCode == 13 ? resetPassword() : null" autocomplete="off"
                           class="input-large input-content" id="user_password_confirmation"
                           name="user[password_confirmation]" size="30"
                           type="password" value=""/>
                </div>
            </div>

            <div class='control-group margin-bottom-eighteen'>
                <div class='controls'>
                    <div>
                        <span>
                            <input class="btn btn-large btn-primary login-button" type="button"
                                   value="Change my password"
                                   ng-click="resetPassword()"/>
                        </span>
                        <span class='alert-body' ng-show='errorMessage'>
                            <span class="alert-error" ng-show='errorMessage'>
                                <span ng-bind='errorMessage'></span>
                            </span>
                        </span>
                        <span class='alert-body' ng-show='successMessage'>
                            <span class="alert-error" ng-show='successMessage'>
                                <span ng-bind='successMessage'></span>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <div class='control-group'>
                <div class="controls">
                    <div ng-show=true>
                        <p>&copy;2014 Fimbre. All Rights Reserved. </p><br>
                    </div>


                </div>
            </div>
        </fieldset>
    </form>

</div>
<div class='fimbre-redirect-to-login-link' ng-show='loginLink'>
    <a href="fimbre://index.html">Click here to go to Fimbre app</a>
</div>

</body>
</html>
