clearfix {
    *zoom: 1;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both;
}

body.login {
    background: url('/images/panel_bg.png');
    /*background: #222222 url("wood-bg.jpg");*/
    color: #4D4E52;
}

body.login .container {
    width: 460px;
    margin: 0 auto;
}

body.login h1 {
    background: url("/images/fimbre/fimbre_logo.png") no-repeat center;
    background-size: 150px;
    /* width: 115px; */
    height: 105px;
    margin: 80px auto 0px;
    text-indent: -999em;
}

body.login .intro {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 22px;
    color: #aaaaaa;
    text-align: center;
}

body.login h3 {
    margin-bottom: 20px;
    /* text-align: center;*/
    margin-left: 138px;
}

h3 {
    font-size: 18px;
    font-weight: bold;
}

body.login label.control-label {
    width: 120px;
    font-size: 14px;
    line-height: 26px;
    float: left;
    font-weight: normal;
    text-align: right;
}

body.login .controls {
    margin-left: 140px;
    line-height: 18px;
    font-size: 13px;
}

body.login input[type=text],
body.login input[type=password] {
    -webkit-transition: background 0.2s ease-in;
    -moz-transition: background 0.2s ease-in;
    -ms-transition: background 0.2s ease-in;
    -o-transition: background 0.2s ease-in;
    transition: background 0.2s ease-in;
    height: 33px;
    padding-left: 3px;
    width: 280px;
    font-size: 14px;
    border: 1px solid #76777a;
    background: #E9E9E9;
    border-radius: 3px;
}

body.login input[type=text]:focus,
body.login input[type=password]:focus {
    background: white;
    outline: none;
}

.input-content input[type='text'] {
    border: none;
    background: red;;
}

body.login label.remember {
    display: inline;
    margin-left: 10px;
}

body.login label.remember input {
    float: none;
    vertical-align: baseline;
}

body.login .container.signup {
    width: 920px;
    padding-top: 50px;
}

body.login .container.signup .column {
    width: 460px;
}

body.login .container.signup .column.login, .success-mail-image, .app-float-left {
    float: left;
}

body.login .container.signup .column.signup {
    float: right;
}

body.login .container.signup p.center {
    text-align: center;
    font-size: 15px;
}

body.login .container.signup.not-unique-email {
    width: 625px;
}

body.login .container.signup.not-unique-email a.back {
    margin-right: 8px;
}

@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
    body.login h1 {
        /*background-image: url("/images/login/logo@2x.png");*/
        background-size: 167px 62px;
    }
}

#sign-in-view {
    width: 100%;
    height: 100%;
    padding-top: 50px;
    text-align: center;
    position: relative;
}

#sign-in-view .modal-body {
    text-align: left;
    color: #666666;
}

#sign-in-view .modal-header {
    text-align: left;
}

#sign-in-view .container {
    width: 1050px;
}

#sign-in-view .row {
    margin-left: -30px;
}

#sign-in-view .offset4 {
    margin-left: 390px !important;
}

#sign-in-view .span4 {
    width: 330px;
}

#sign-in-view .input-question {
    position: relative;
}

#sign-in-view .input-question .question-item {
    position: absolute;
    top: 9px;
    right: 10px;
    color: #cccccc;
}

#sign-in-view .login-branding {
    margin-bottom: 40px;
}

#sign-in-view .login-form {
    text-align: center;
    color: #999999;
}

#sign-in-view .login-form h3 {
    margin-bottom: 20px;
    color: white;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

#sign-in-view .login-form .full-width {
    width: 100%;
    display: block;
}

#sign-in-view .login-form .full-width.text-input {
    width: 308px;
    padding: 8px 10px;
}

#sign-in-view .login-form-footer {
    margin-top: 20px;
}

#sign-in-view .login-form-footer span {
    color: #4d4d4d;
}

#sign-in-view .legal-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: rgba(40, 40, 40, 0.95);
}

#sign-in-view .legal-footer .container {
    width: 1050px;
}

#sign-in-view .legal-footer .container .offset3 {
    margin-left: 280px !important;
}

#sign-in-view .legal-footer .container .span6 {
    width: 510px !important;
}

#sign-in-view .legal-footer a {
    color: #4d4d4d;
    margin: 0 10px;
    display: inline-block;
}

#sign-in-view .legal-footer a:hover {
    color: #999999;
    margin-bottom: -5px;
}

.error-message {
    color: #ff761b;
    float: left;

    font-size: 13px;
    /*padding: 0px 0 0 2px;*/
    padding-left: 10px;
}

.info-text {
    margin: -7px 0 -6px 0;
    height: 20px;
}

.alert-error {
    font-size: 15px;
    color: #FF8500;
    font-weight: bold;
    top: 13px;
    padding: 8px 0;
    float: left;
    clear: both;
}

.alert-body {
    padding: 1px 1px 0px 10px;
    /*margin-top: 2px;*/
}

a:hover, a:focus {
    color: #FF8500 !important;
    text-decoration: underline !important;
}

.login-image {
    margin: -14px 0px 0px 0px;
    padding: 5px 0px;
}

.login-to-account {
    line-height: 27px;
    margin-top: 0px;
    font-size: 18px;
    float: left;
    font-weight: normal !important;
}

.clear-both {
    clear: both;
}

.input-form {
    margin: 0;
    padding: 0;
    display: inline
}

.margin-bottom-eighteen {
    margin-bottom: 18px;
}

.input-content {
    color: #4D4E52;
    /*border: none !important;*/
}

.login-button {
    padding: 9px 14px !important;
    font-size: 15px !important;
    background: -webkit-linear-gradient(#FF8500, #E67700) !important;
    background: -ms-linear-gradient(#FF8500, #E67700) !important;
    background: -o-linear-gradient(#FF8500, #E67700) !important;
    background: -moz-linear-gradient(#FF8500, #E67700) !important;
    border-color: #FF8500 !important;
    outline: none !important;
}

.login-button:active {
    background: -webkit-linear-gradient(#E67700, #FF8500) !important;
    background: -ms-linear-gradient(#E67700, #FF8500) !important;
    background: -o-linear-gradient(#E67700, #FF8500) !important;
    background: -moz-linear-gradient(#E67700, #FF8500) !important;
}

.remember-content {
    visibility: hidden;
    font-size: 13px;
    font-weight: normal;
}

.controls-linked {
    color: #4D4E52;
    text-decoration: none;
}

.controls-linked-rights {
    color: #FF8500;
    text-decoration: none;
}

.padding-left-ten-pixel {
    padding-left: 10px;
}

.login-image img {
    margin-left: 10px;
    margin-top: 18px;
}

/*Any Firefox Browser*/
@-moz-document url-prefix() {
.login-image img  {
	margin-top: 18px;
    margin-left: 72%;
 }
 }

.success-mail-message {
    color: #F6881A;
    background-color: #ffffff;
    text-align: center;
    border-radius: 3px 3px 3px 3px;
    margin: 1% 20%;
    min-height: 150px;
    font-family: serif;
    font-size: 15px;
    font-weight: 300;
    padding: 20px 70px;
    box-shadow: 0 3px 10px #bbb;
}

.success-mail-content {
    padding: 36px 5px;
}

.success-mail-bottom {
    width: 810px;
    margin: auto;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;;
}

.button-width {
    width: 285px;
}

.app-copy-right {
    font-size: 13px;
    width: 624px;
    margin: auto;
    text-align: right;
}

@media all and (max-width: 1024px) {
    body {
        min-width: 200px !important;
    }

    body.login h3 {
        text-align: center;
        margin: 0px auto 20px auto;
        width: 100%;
    }

    body.login .container {
        width: 450px;
        margin: 0px auto;
    }

    .controls span {
        display: block;
    }

    .alert-body {
        padding: 0px;
    }

    .login-image {
        padding: 5px 0px;
        text-align: right;
        display: inline-flex;
        margin: 4px 0px 0px -133px;
    }

    .login-image img {
        margin-left: 10px;
        margin-top: 0;
    }

    .link-1 {
        display: block;
        padding: 0;
        margin: 0;
    }
}

@media all and (max-width:768px) {
    body.login h1 {
        margin: 10px auto 10px;
        height: 63px;
    }
}

@media all and (max-width: 601px) {
    .app-float-left {
        float: none;
    }
    body.login .container {
        width: 440px;
        margin: 0px auto;
    }

    .alert-error {
        font-weight: normal;
    }

}

@media all and (max-width: 500px) {
    body.login .container {
        width: auto;
        margin: 0px auto;
    }

}

@media all and (max-width:479px) {
    body.login label.control-label {
        float: none;
    }

    body.login .controls {
        margin-left: 0;
    }

    .form-horizontal {
        text-align: center;
    }

    .login-image {
        margin: 4px 0px 0px -44px;
    }

    body.login input[type=text], body.login input[type=password] {
        width: 180px;
    }

    body.login label.control-label {
        text-align: center;
    }

    .alert-error {
        padding: 8px 0;
        float: left;
        text-align: center;
        width: 100%;
    }

}

@media all and (min-width:380px) and (max-width:400px) {
    .login-image {
        margin: 4px 0px 0px -90px;
    }
}

@media all and (max-width:250px) {
    body.login input[type=text], body.login input[type=password] {
        width: 180px;
    }

    .login-image {
        margin: 27px 0px 0px -109px;
    }
}

.control-group {
    clear: both;
}

.fimbre-redirect-to-login-link {
    font-size: 17px;
    text-align: center;
}