<!DOCTYPE html>
<html lang='en'>
<head>
    <link rel="icon" href="images/applane_logo.png">
    <script type="text/javascript" src="js/lib/jquery1.11.0.js"></script>
    <script type="text/javascript" src="js/lib/angularv1.3.0-beta.7.js"></script>


    <script src="js/q.js"></script>
    <script type="text/javascript" src="js/Util.js"></script>

    <script type="text/javascript" src="js/ApplaneDB.js"></script>
    <script type="text/javascript" src="js/ForgotPasswordCtrl.js"></script>
    <link href="css/login.css" rel="stylesheet"/>
    <link href="css/bootstrap.css" media="all" rel="stylesheet" type="text/css"/>


    <meta charset='utf-8'/>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'/>
    <title>Applane</title>
</head>
<body class="login login-sales" ng-app="applane" ng-controller="ForgotPasswordCtrl">
<h1></h1>


<div ng-hide='successMessage' class='container'>

    <h3 class='login-to-account'>Reset your Password</h3>

    <div class="login-image" ng-show='processingImage'>
        <span class="error-message" ng-bind='dbBlank'></span>
        <img src='images/loading.gif' ng-show='processingImage'/>
    </div>

    <form accept-charset="UTF-8" action="/login" class="clear-both form-horizontal" id="user_new" method="post">
        <div class='input-form'><input name="utf8" type="hidden" value="&#x2713;"/><input name="authenticity_token"
                                                                                          type="hidden"
                                                                                          value="cqkmJv9sS99/ijjWUrWPCaklzX7MM6Nb8cRA/5KAjGA="/>
        </div>
        <input id="redirect_to" name="redirect_to" type="hidden"/>
        <fieldset class='custom-align-left'>

            <div class='control-group margin-bottom-eighteen'>
                <label class="control-label" for="user_email">Email</label>

                <div class='controls'>
                    <input ng-focus='errorMessage = false'
                           ng-keyup="$event.keyCode == 13 ? sendPasswordResetMail() : null" ng-model="email"
                           class="input-large input-content" id="user_email"
                           name="user[email]" size="30" type="text" autofocus/>
                </div>
            </div>

            <div ng-show="showDB" class='control-group margin-bottom-eighteen'>
                <label class="control-label" for="user_database">DataBase</label>

                <div class='controls'>
                    <input ng-focus='errorMessage = false'
                           ng-keyup="$event.keyCode == 13 ? sendPasswordResetMail() : null" ng-model="database"
                           class="input-large input-content" id="user_database"
                           name="user[database]" size="30" type="text" autofocus/>
                </div>
            </div>

            <div class='control-group margin-bottom-eighteen'>
                <div class='controls'>
                    <div>
                        <span>
                            <input class="btn btn-large btn-primary login-button button-width" type="button"
                                   value="Send me reset password Instructions"
                                   ng-click="sendPasswordResetMail()"/>
                        </span>
                        <span class='alert-body' ng-show='errorMessage'>
                            <span class="alert-error" ng-show='errorMessage'>
                                <span ng-bind='errorMessage'></span>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <div class='control-group'>
                <div class="controls">
                    <div ng-show=false>
                        <a class='controls-linked' href="../forgotpassword.html">Forgot your
                            password?</a><br>
                    </div>

                    <div ng-show=false>
                        <a class='controls-linked' href="/sales/users/resend/new">Didn't receive
                            confirmation
                            instructions?</a><br>
                    </div>

                    <div ng-show=false>
                        <a class='controls-linked' href="https://getbase.com/pricing">Need an
                            account?</a><br>
                    </div>

                    <div ng-show=true>
                        <p>&copy;2013 Applane. All Rights Reserved. <a class="controls-linked-rights"
                                                                       href="http://www.applane.com/terms-of-use/">Terms
                            of Use</a> <span>|</span> <a class="controls-linked-rights"
                                                         href="http://www.applane.com/privacy-policy/">Privacy
                            Policy </a></p><br>
                    </div>


                </div>
            </div>
        </fieldset>
    </form>

</div>

<div ng-show='successMessage' class="success-mail-message">
    <img class="success-mail-image" src="images/mail.jpg" alt="image">

    <h3 class="success-mail-content" ng-bind='successMessage'></h3>


</div>

<div ng-show='successMessage' class="success-mail-bottom">
    <p>&copy;2013 Applane. All Rights Reserved. <a class="controls-linked-rights"
                                                   href="http://www.applane.com/terms-of-use/">Terms of Use</a>
        <span>|</span> <a class="controls-linked-rights" href="http://www.applane.com/privacy-policy/">Privacy
            Policy </a></p><br>
</div>
</body>
</html>