<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">

    <title>textAngular 1.2.0 Demo</title>

    <meta name="robots" content="noindex">

    <link href="css/applane_beta.css" rel="stylesheet" type="text/css"/>
    <link href="css/font-awesome.css" rel="stylesheet" type="text/css"/>
    <link href="css/angular-awesome.css" rel="stylesheet" type="text/css"/>
    <link href="css/bootstrap-addition-min.css" rel="stylesheet" type="text/css"/>
    <link href="css/libraries-min.css" rel="stylesheet" type="text/css"/>
    <link href="css/main-min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="css/bootstrap.css">

    <script type="text/javascript" src="js/lib/jquery1.11.0.js"></script>
    <!--<script type="text/javascript" src="js/lib/angular1.2.16.min.js"></script>-->
    <script type="text/javascript" src="js/lib/angularv1.3.0-beta.7.js"></script>
    <script type="text/javascript" src="js/lib/angular-animate.min.js"></script>
    <script type="text/javascript" src="js/lib/angular-sanitize.js"></script>
    <script type="text/javascript" src="js/lib/angular-strap.js"></script>
    <script type="text/javascript" src="js/lib/angular-strap.tpl.js"></script>
    <script type="text/javascript" src="js/lib/text-angular.min.js"></script>

    <script type="text/javascript" src="js/AppsViews.js"></script>
    <script type="text/javascript" src="js/ApplaneDB.js"></script>
    <script type="text/javascript" src="js/pl-toolbar.js"></script>
    <script type="text/javascript" src="js/DataModel.js"></script>
    <script type="text/javascript" src="js/pl-grid.js"></script>
    <script type="text/javascript" src="js/pl-form.js"></script>
    <script type="text/javascript" src="js/pl-view.js"></script>
    <script type="text/javascript" src="js/pl-workbench.js"></script>
    <script type="text/javascript" src="js/WorkbenchCtrl.js"></script>
    <script type="text/javascript" src="js/applane-core.js"></script>
    <script type="text/javascript" src="js/pl-user-preference.js"></script>
    <script type="text/javascript" src="js/pl-components.js"></script>
    <script type="text/javascript" src="js/Util.js"></script>
    <style>
        .ta-editor {
            min-height: 150px;
            height: 150px;
            overflow: auto;
            font-family: inherit;
            font-size: 100%;
        }
    </style>
    <script type="text/javascript">

        // To run this example remove 'ngAnimate' and 'mgcrea.ngStrap' injections from module
        pl.controller('textEditorCtrl', function ($scope) {
            $scope.orightml = '<h2>Try pl-editor!</h2><p>textAngular is a super cool WYSIWYG Text Editor directive for AngularJS</p> </p>';
//            $scope.htmlcontent = $scope.orightml;
            $scope.disabled = false;
            $scope.testFunction = undefined;
            $scope.testClick = function() {
                $.getScript('test.js', function (data, textStatus, jqxhr) {
                    $scope.testFunction = testDynamic.clone();
                });
            }
            $scope.testData = function(){
                console.log('Data Test >>> ' + $scope.testFunction);
            }
        });


    </script>
</head>

<body>

<div ng-app="pl" ng-controller="textEditorCtrl" class="container app">
    <h1>plEditor</h1>

    <div text-angular="text-angular" ng-model="row.rte" ta-disabled='disabled'></div>
    <div ng-bind="row | json"></div>
    <br/>

    <div>
        <button ng-click='testData()'>click before js file loading</button>
        <button ng-click="testClick()">click to load file</button>
        <button ng-click='testData()'>after file loading</button>
    </div>

</div>


</body>

</html>